{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Про Privnote</h1>
        <p>Ви коли-небудь хотіли відправити конфіденційну інформацію у вашій робочої середовищі, з сім'єю або друзями, але боялися зробити це через Інтернет, тому що деякі зловмисник може шпигувати за вами?</p>
        <p>Privnote це безкоштовний веб-сервіс, який дозволяє передавати секретні замітки через Інтернет. Це швидко, легко і не вимагає пароля або реєстрації користувача на всіх.</p>
        <p>Просто напишіть вашу записку, і ви отримаєте посилання. Потім скопіюйте і вставте це посилання в повідомлення електронної пошти (або миттєве повідомлення), що ви посилаєте до людини, який ви хочете прочитати записку. Коли ця людина натискає на посилання в перший раз, вони будуть бачити записку в своєму браузері і нота буде автоматично самоліквідуватися; що означає, що ніхто (навіть в той же чоловік) не може прочитати записку ще раз. Посилання більше не буде працювати.</p>
        <p>При бажанні ви можете вибрати, щоб отримати повідомлення, коли ваша записка читається, залишивши свою електронну пошту і посилання для замітки.</p>
        <p>Якщо у вас є які-небудь питання, не соромтеся представити запит prinoteSofGroup@gmail.com по електронній пошті, і не забудьте перевірити наші<a href="{{ path('faq') }}"> <strong>FAQ(часті запитання)</strong></a> першими.</p>
        <p>Якщо ви стурбовані питаннями конфіденційності, будь ласка, ознайомтеся з нашою політикою конфіденційності.</p>

    </div>
{% endblock %}