{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>FAQ(Часті запитання)</h1>
        <ol>
            <p><a href="#top"><li>Чи є Privnote дійсно приватним?</li></a></p>
            <p><a href="#2"><li>Як я можу відправити мою записку? Чи є спосіб, щоб відправити посилання прямо з сайту Privnote?</li></a></p>
            <p><a href="#3"><li>Чи можу я відправити privnote кільком одержувачам?</li></a></p>
            <p><a href="#4"><li>Що я можу зробити, якщо я шкодую, відправивши записку або, якщо я помилково відправити його комусь, я не хочу, щоб прочитати його?</li></a></p>
            <p><a href="#5"><li>Чи можу я знати, коли нота читається?</li></a></p>
            <p><a href="#6"><li>Одержувач може скопіювати і вставити ноту, так що насправді не самознищення, вірно?</li></a></p>
            <p><a href="#7"><li>Чи можна побачити недавно прочитала записку, використовуючи історію браузера, кнопку назад або недавно закриту функцію вушок?</li></a></p>
            <p><a href="#8"><li>Скільки часу непрочитаних замітки зберігаються на серверах?</li></a></p>
        </ol>

        <a id="top"></a>
            <div class="spacer s1">
                <p><strong>Чи є Privnote дійсно приватним?</strong></p>
                <p>Ми впевнені, стверджуючи, що Privnote є як приватним, так і в безпеці, і ми сповнені рішучості зробити, що він залишається таким чином. Будь ласка, ознайомтеся з нашою політикою конфіденційності для отримання додаткової інформації.</p>
            </div>
        <a id="2"></a>
            <div class="spacer s1">
                <p><strong>Як я можу відправити мою записку? Чи є спосіб, щоб відправити посилання прямо з сайту Privnote?</strong></p>
                <p>Privnote дає посилання на вашу записку. Ви повинні скопіювати і вставити це посилання в повідомлення електронної пошти (або миттєве повідомлення) і відправити його людині, яка повинна цю записку прочитати.</p>
            </div>
        <a id="3"></a>
        <div class="spacer s1">
            <p><strong>Чи можу я відправити Privnote кільком одержувачам?</strong></p>
                <p>Ні, ви не можете. Якщо ви хочете відправити ту ж записку для більш ніж однієї людини, ви повинні створити кілька заміток і відправляти кожену до кожної людини. Ось чому це особисте.</p>
        </div>
        <a id="4"></a>
        <div class="spacer s1">
            <p><strong>Що я можу зробити, якщо я шкодую, відправивши записку або, якщо я помилково відправив(ла) його комусь, я не хочу, щоб прочитали її?</strong></p>
            <p>Вам потрібно просто вставити посилання в URL браузера, і при відображенні записки воно буде самознищене. Коли людина, якій ви відправили посилання спробує зробити те ж саме, на дисплеї з'явиться повідомлення про те, що записка вже видалена.</p>
        </div>
        <a id="5"></a>
        <div class="spacer s1">
            <p><strong>Чи можу я знати, коли записка читається?</strong></p>
            <p>Так, ви повинні перевірити вікно повідомлення нижче примітки і введіть свою електронну адресу. Privnote буде надіслане електронною поштою на цю адресу, коли записка читається. </p>
        </div>
        <a id="6"></a>
        <div class="spacer s1">
            <p><strong>Одержувач може скопіювати і вставити записку, так що насправді це не самознищення, вірно?</strong></p>
            <p>Вірно. Але, знову ж таки, ви не могли запобігти одержувача від прийняття захоплення екрану або навіть запам'ятовування записки. Ось чому Privnote не намагається захистити вміст записки від копіювання. Він тільки засвідчується, що вміст ніколи не читали, ким-небудь, перш ніж вона досягне одержувача, і ніколи не прочитана ким потім або. Що одержувач робить з приміткою є його єдиною ВІДПОВІДАЛЬНІСТЮ.</p>
        </div>
        <a id="7"></a>
        <div class="spacer s1">
            <p><strong>Чи можна побачити недавно прочитану записку, використовуючи історію браузера, кнопку назад або недавно закриту функцію вушок?</strong></p>
            <p>Нота самоліквідується після зчитування; немає ніякого способу, щоб перечитати його, коли він був прочитаний.</p>
        </div>
        <a id="8"></a>
        <div class="spacer s0">
            <p><strong>Скільки часу непрочитаних записок зберігаються на серверах?</strong></p>
            <p>Через 30 днів всі непрочитані записки автоматично видаляються.</p>
        </div>
    </div>
{% endblock %}