{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>FAQ(Часті запитання)</h1>
        <ol>
            <p><a href="#top"><li>Чи є Privnote дійсно приватним?</li></a></p>
            <p><a href="#2"><li>Як я можу відправити мою записку? Чи є спосіб, щоб відправити посилання прямо з сайту Privnote?</li></a></p>
            <p><a href="#3"><li>Чи можу я відправити записку кільком одержувачам?</li></a></p>
            <p><a href="#4"><li>Що я можу зробити, якщо я шкодую, відправивши записку або, якщо я помилково відправив(ла) його комусь, і не хочу, щоб прочитали її?</li></a></p>
            <p><a href="#5"><li>Чи можу я знати, коли записка читається?</li></a></p>
            <p><a href="#6"><li>Одержувач може скопіювати і вставити вміст записки, так що насправді це не самознищення, вірно?</li></a></p>
            <p><a href="#7"><li>Чи можна побачити недавно прочитану записку, використовуючи історію браузера, кнопку назад?</li></a></p>
        </ol>

        <a id="top"></a>
        <div class="spacer s1">
            <p><strong>Чи є Privnote дійсно приватним?</strong></p>
            <p>Ми впевнені, стверджувати, що Privnote є як приватним, так і в безпеці, і ми сповнені рішучості зробити так, щоб він залишався таким.</p>
        </div>
        <a id="2"></a>
        <div class="spacer s1">
            <p><strong>Як я можу відправити мою записку? Чи є спосіб, щоб відправити посилання прямо з сайту Privnote?</strong></p>
            <p>Privnote дає посилання на Вашу записку. Ви повинні скопіювати і вставити це посилання в повідомлення електронної пошти (або миттєве повідомлення) і відправити його людині, яка повинна її прочитати.</p>
        </div>
        <a id="3"></a>
        <div class="spacer s1">
            <p><strong>Чи можу я відправити Privnote кільком одержувачам?</strong></p>
            <p>Ні, Ви не можете. Якщо Ви хочете відправити ту ж записку для більш ніж однієї людини, ви повинні створити кілька заміток і відправляти кожну до кожної людини. Ось чому це особисте.</p>
        </div>
        <a id="4"></a>
        <div class="spacer s1">
            <p><strong>Що я можу зробити, якщо я шкодую, відправивши записку або, якщо я помилково відправив(ла) її комусь, і не хочу, щоб її прочитали?</strong></p>
            <p>Вам потрібно просто вставити посилання в URL браузера, і при відображенні записки вона буде самознищена. Коли людина, якій ви відправили посилання спробує зробити те ж саме, на дисплеї з'явиться повідомлення про те, що записка вже видалена.</p>
        </div>
        <a id="5"></a>
        <div class="spacer s1">
            <p><strong>Чи можу я знати, коли записка читається?</strong></p>
            <p>Так, ви повинні перевірити вікно повідомлення нижче примітки і ввести свою електронну адресу. Вам буде надіслане повідомлення на цю адресу, коли записка читається. </p>
        </div>
        <a id="6"></a>
        <div class="spacer s1">
            <p><strong>Одержувач може скопіювати і вставити записку, так що насправді це не є самознищення, вірно?</strong></p>
            <p>Вірно. Але, знову ж таки, ви не можете запобігти одержувачу від прийняття захоплення екрану або навіть запам'ятовування записки. Ось чому Privnote не намагається захистити вміст записки від копіювання. Він тільки засвідчується, що вміст ніколи не читали, ким-небудь, перш ніж вона досягне одержувача, і ніколи не прочитана ніким потім. Що одержувач робить з приміткою є його єдиною ВІДПОВІДАЛЬНІСТЮ.</p>
        </div>
        <a id="7"></a>
        <div class="spacer s1">
            <p><strong>Чи можна побачити недавно прочитану записку, використовуючи історію браузера, кнопку назад або недавно закриту функцію вушок?</strong></p>
            <p>Записка самоліквідується після прочитування, немає ніякого способу, щоб перечитати її знову.</p>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div id="footerFaq">© 2017<a style="color:#0a93a6; text-decoration:none;"> Copyright &copy; 2017</a>, All rights reserved 2017.</div>
{% endblock %}