{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="container_1">
        <p><h4>Збережіть посилання або відкрийте його прямо зараз.</h4></p>
        <p><h4><a href="http://privnote/hidden/{{ hash }}">http://privnote/hidden/{{ hash }}</a></h4></p>
    </div>
    </div>
{% endblock %}