{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="container_1">
        <img src="http://und.edu/admissions/undergraduate/_files/images/info-button.png" width="100" height="111" alt="Info">
        <p><h4>Збережіть посилання або відкрийте його прямо зараз.</h4></p>
        <p><h4><a href="http://privnote/{{ hash }}">http://privnote/{{ hash }}</a></h4></p>
    </div>
    </div>
{% endblock %}