<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
        <title>{% block title %}Privnote{% endblock %}</title>
        {% block stylesheets %}
            <style>
            body {
                text-align: center;
            }
            .contact-form{ margin-top:15px;}
            .contact-form .textarea{ min-height:220px; resize:none;}
            .form-control{ box-shadow:none; border-color:#eee; height:49px;}
            .form-control:focus{ box-shadow:none; border-color:#00b09c;}
            .form-control-feedback{ line-height:50px;}
            .main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
            .main-btn:hover{ background:#00a491;color:#fff;}
            .form-control-feedback {
                line-height: 50px;
                top: 0px;
            }
            </style>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="jumbotron text-center">
        <a href="{{ path('privlink_new') }}"><h1>Privnote</h1></a>
        <p>Private and safe messages</p>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
