{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    {{ form_widget(form)}}
        <div class="submit_password">
                <input type="submit" value="Підтвердити" class="btn btn-primary btn-sm btn3d"/>
        </div>
    {% if text == false %}
        <div class="wrong"> <p>Невірний пароль. Спробуйте ще раз.</p></div>
    {% endif %}
    {{ form_end(form) }}
        </div>

{% endblock %}