{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    {{ form_row(form.password) }}
    {{ form_row(form.submit_button) }}

    {% if text == false %}
        <div class="wrong"> <p>Невірний пароль. Спробуйте ще раз.</p></div>
    {% endif %}
    {{ form_end(form) }}
        </div>

{% endblock %}