{% extends 'base.html.twig' %}

{% block body %}
    {% for privlink in privlinks %}
        <div class="alert alert-warning" role="alert">
            Ваше повідомлення було видалене.
        </div>
    {% endfor %}
{% endblock %}
