{% extends 'base.html.twig' %}

{% block body %}
    <div class="container_1">
        <div id="empty_mail"><img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-9/256/email-delete-icon.png" width="60" height="71" alt="Message deleted"></div>
        <div class="alert alert-warning" role="alert">
            Ваше записка видалена. Ви не можете переглянути її ще раз.
        </div>
    </div>
{% endblock %}
