{% extends 'base.html.twig' %}

{% block body %}
        <div class="alert alert-warning" role="alert">
            Ваше повідомлення було видалене. Ви не можете переглянути його ще раз.
        </div>
{% endblock %}
