{% extends 'base.html.twig' %}

{% block body %}
    {% for privlink in privlinks %}
        <h3>Вміст записки</h3>
<div class="container">
    <pre>{{ privlink.text }}</pre>

</div>
{% endfor %}
{% endblock %}
