{% extends 'base.html.twig' %}

{% block body %}
    {% for privlink in privlinks %}
        <h3>Вміст записки</h3>
<div class="container">

            <table class="table">
                <tr>
                    <th><pre>{{ privlink.text }}</pre></th>
                </tr>
            </table>
</div>
{% endfor %}
{% endblock %}
