{% extends 'base.html.twig' %}
{% block body %}
    <div class="alert alert-danger" role="alert">
        <strong>Увага!</strong> Повідомлення буде видалено через: <strong><div id="time"> {{ time }}</strong></div>
    </div>
    <div class="container_2">
        <div class="hidden_text">
            <pre><p id="p2"> {{ privlink.text }}</p></pre>
        </div>
        <div class="submit"> <button class="btn btn-success btn-lg btn3d" onclick="copyToClipboard('#p2')">Скопіювати</button></div>
    </div>
{% endblock %}


