{% extends 'base.html.twig' %}
{% block body %}
        <div class="alert alert-danger" role="alert">
            <strong>Увага!</strong> Після перегляду повідомлення буде видалено.
        </div>
<div class="container">
    <pre>{{ privlink.text }}</pre>
</div>
{% endblock %}

