{% extends 'base.html.twig' %}

{% block body %}
    <h1>Нова записка</h1>
    <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Створити" class="btn btn-primary btn-lg btn3d"/>
    {{ form_end(form) }}
    </div>
{% endblock %}
