{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <strong>Готово!</strong> Скопіюйте посилання.
    </div>
<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td><strong>http://privnote/hidden/{{ privlink.hash }}</strong></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}

