{% extends 'base.html.twig' %}

{% block body %}
    <h1>Посилання готове</h1>

<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td><strong>http://privnote/{{ privlink.hash }}</strong></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
