{% extends 'base.html.twig' %}

{% block body %}
    <div class="container_1">
    <div class="alert alert-success" role="alert">
        <strong>Готово!</strong> Скопіюйте посилання.
    </div>
        <p id="p1"><strong>http://privnote/hidden/{{ privlink.hash }}</strong></p> <button class="btn btn-success btn-lg btn3d" onclick="copyToClipboard('#p1')">Скопіювати</button>
    </div>
{% endblock %}

