{% extends 'base.html.twig' %}

{% block body %}

    <div class="test"><h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Ласкаво просимо на сайт Privnote", "Відправляйте самознищуючі, безпечні записки." ]'>
                <span class="wrap"></span>
            </a>
        </h1></div>
    <div class="container_3">
        <a href="{{ path('privlink_new') }}" class="btn btn-primary btn-lg btn3d"> Нова записка </a>
        <div class="bird"></div>
    </div>




{% endblock %}

{% block javascripts %}

{% endblock %}