{% extends 'base.html.twig' %}

{% block body %}


    <a href="{{ path('privlink_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Створити записку</a></button>

{% endblock %}
